## CH 02: Essential DataFrame Operations

In [1]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_columns', 10, 'display.max_rows', 10)

## Introduction

## Selecting Multiple DataFrame Columns

### How to do it\...

In [ ]:
movies = pd.read_csv('../data/movie.csv')
movies.head()

In [ ]:
# Read in the movie dataset, and pass in a list of the desired columns to the indexing operator

movie_actor_director = movies[['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']]
movie_actor_director.head()

### Selecting Cols as a series or as a data frame

In [ ]:
# Here two double [[]] brackets mean a list. So we get a data frame here.

type(movies[['director_name']])

In [ ]:
# Here a single double [] bracket means that if we pass in just a string with
the column name, we will get a Series back:

type(movies['director_name'])

In [ ]:
# Using .loc method to get a data frame.

# We can also use .loc to pull out a column by name. Because this index operation
# requires that we pass in a row selector first, we will use a colon ( :) to indicate a slice
# that selects all of the rows. This can also return either a DataFrame or a Series:


type(movies.loc[:, ['director_name']])

In [ ]:
# Using .loc method to get a series.

type(movies.loc[:, 'director_name'])

### How it works\...

### There\'s more\...

In [ ]:
# Passing a long list inside the indexing operator might cause readability issues. 
# To help with this, you may save all your column names to a list variable first.

cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']

movie_actor_director = movies[cols]
movie_actor_director.head()

## Selecting Columns with Methods

### How it works\...

In [ ]:
# Although column selection is usually done with the indexing operator, there are some
# DataFrame methods that facilitate their selection in an alternative manner. 

# The .select_dtypes and .filter methods are two useful methods to do this.

In [ ]:
# Using methods like .select and .filter

In [ ]:
# Use the .select_dtypes method to select only the integer columns:

movies.select_dtypes(include='int').head()

In [ ]:
# If you would like to select all the numeric columns, you may pass the string number
# to the include parameter:

movies.select_dtypes(include='number').head()

In [ ]:
# If we wanted integer and string columns we could do the following:

movies.select_dtypes(include=['int', 'object']).head()

In [ ]:
#  To exclude only floating-point columns, do the following:

movies.select_dtypes(exclude='float').head()

In [ ]:
#  An alternative method to select columns is with the .filter method. This method
# is flexible and searches column names (or index labels) based on which parameter
# is used. Here, we use the like parameter to search for all the Facebook columns
# or the names that contain the exact string, fb. The like parameter is checking for
# substrings in column names:

movies.filter(like="fb").head()

In [ ]:
# The .filter method has more tricks (or parameters) up its sleeve. If you use the
# items parameters, you can pass in a list of column names:


cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movies.filter(items=cols).head()

In [ ]:
# The .filter method allows columns to be searched with regular expressions using
# the regex parameter. Here, we search for all columns that have a digit somewhere
# in their name:

movies.filter(regex=r'\d').head()

## Ordering Column Names

### How to do it\...

In [ ]:
# One of the first tasks to consider after initially importing a dataset as a DataFrame is to
# analyze the order of the columns.

movies = pd.read_csv('../data/movie.csv')

In [ ]:
movies.head()

In [ ]:
# The purpose of this function is to shorten column names by replacing specific substrings 
# with shorter alternatives. For example, if you call shorten('facebook_likes_for_reviews'), 
# it would return 'fb' because it replaces 'facebook_likes' with 'fb' and then removes '_for_reviews'.

def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )

In [ ]:
# movies.rename(columns=shorten) renames the columns of the DataFrame movies using the shorten function. 
# The columns parameter of the rename method is set to the shorten function, which means that each 
# column name will be passed through the shorten function.

# The shorten function, performs string manipulations on each column name, replacing specific substrings.
# This operation effectively shortens the column names in the DataFrame movies according to the rules 
# specified in the shorten function.

In [ ]:
movies = movies.rename(columns=shorten)

In [ ]:
movies.head()

In [ ]:
movies.columns

In [ ]:
# The columns don't appear to have any logical ordering to them. Organize the names
# sensibly into lists so that the guideline from the previous section is followed:

In [ ]:
cat_core = ['movie_title', 'title_year',
            'content_rating', 'genres']
cat_people = ['director_name', 'actor_1_name',
              'actor_2_name', 'actor_3_name']
cat_other = ['color', 'country', 'language',
             'plot_keywords', 'movie_imdb_link']
cont_fb = ['director_fb', 'actor_1_fb',
           'actor_2_fb', 'actor_3_fb',
           'cast_total_fb', 'movie_fb']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_voted_users', 'num_user',
                    'num_critic']
cont_other = ['imdb_score', 'duration',
               'aspect_ratio', 'facenumber_in_poster']

In [ ]:
new_col_order = cat_core + cat_people + \
                cat_other + cont_fb + \
                cont_finance + cont_num_reviews + \
                cont_other
set(movies.columns) == set(new_col_order)

In [ ]:
movies.head()

In [ ]:
movies_df = movies[new_col_order].head()

In [ ]:
movies_df.head()

## Summarizing a DataFrame

### How to do it\...

In [ ]:
# Read in the movie dataset, and examine the basic descriptive properties, .shape,
# .size, and .ndim, along with running the len function:

In [ ]:
movies = pd.read_csv('../data/movie.csv')
movies.shape

In [ ]:
movies.size

In [ ]:
movies.ndim

In [ ]:
len(movies)

In [ ]:
# The .count method shows the number of non-missing values for each column. It is
# an aggregation method as it summarizes every column in a single value. The output
# is a Series that has the original column names as its index:

movies.count()

In [ ]:
#  The other methods that compute summary statistics, .min, .max, .mean, .median,
# and .std, return Series that have the column names of the numeric columns in the
# index and their aggregations as the values:

In [ ]:
movies.describe().T

In [ ]:
#  It is possible to specify exact quantiles in the .describe method using the percentiles parameter:

movies.describe(percentiles=[.01, .3, .99]).T

## Chaining DataFrame Methods

In [ ]:
movies = pd.read_csv('../data/movie.csv')

In [ ]:
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )

In [ ]:
movies = movies.rename(columns=shorten)

In [ ]:
movies.isnull().head()

In [ ]:
#  We will chain the .sum method that interprets True and False as 1 and 0, 
#  respectively. Because this is a reduction method, it aggregates the results
#  into a Series:


(movies
   .isnull()
   .sum()
   .head()
)

In [ ]:
# We can go one step further and take the sum of this Series and return the count
# of the total number of missing values in the entire DataFrame as a scalar value:

movies.isnull().sum().sum()

In [ ]:
# A way to determine whether there are any missing values in the DataFrame is to use
# the .any method twice in succession:

movies.isnull().any().any()

## DataFrame Operations

In [ ]:
colleges = pd.read_csv('../data/college.csv')

In [ ]:
colleges.head()

In [ ]:
# It will not work

colleges + 5

In [ ]:
# To successfully use an operator with a DataFrame, first select homogeneous data. For this
# recipe, we will select all the columns that begin with 'UGDS_'. These columns represent the
# fraction of undergraduate students by race. 

# To get started, we import the data and use the institution name as the label for our index, and 
# then select the columns we desire with the .filter method

colleges = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = colleges.filter(like='UGDS_')
college_ugds.head()

In [ ]:
#  pandas does bankers rounding, numbers that are exactly halfway between either side
# to the even side. Look at what happens to the UGDS_BLACK row of this series when
# we round it to two decimal places:

In [ ]:
name = 'Northwest-Shoals Community College'
college_ugds.loc[name]

In [ ]:
college_ugds.loc[name].round(2)

In [ ]:
# If we add .0001 before rounding, it changes to rounding up:

(college_ugds.loc[name] + .0001).round(2)

In [ ]:
# Let's do this to the DataFrame. To begin our rounding adventure with operators,
# we will first add .00501 to each value of college_ugds:

college_ugds + .00501

In [ ]:
# Use the floor division operator, //, to round down to the nearest whole number percentage:

(college_ugds + .00501) // .01

In [ ]:
# To complete the rounding exercise, divide by 100:

college_ugds_op_round = (college_ugds + .00501) // .01 / 100
college_ugds_op_round.head()

In [ ]:
college_ugds_round = (college_ugds + .00001).round(2)
college_ugds_round

In [ ]:
college_ugds_op_round.equals(college_ugds_round)

## Comparing Missing Values

In [ ]:
# pandas uses the NumPy NaN (np.nan) object to represent a missing value. This is an
# unusual object and has interesting mathematical properties. For instance, it is not equal to
# itself. Even Python's None object evaluates as True when compared to itself:

In [ ]:
np.nan == np.nan

In [ ]:
None == None

In [ ]:
np.nan > 5

In [ ]:
5 > np.nan

In [ ]:
np.nan != 5

### Getting ready

In [ ]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [ ]:
college_ugds == .0019

In [ ]:
college_self_compare = college_ugds == college_ugds
college_self_compare.head()

In [ ]:
college_self_compare.all()

In [ ]:
(college_ugds == np.nan).sum()

In [ ]:
college_ugds.isnull().sum()

In [ ]:
college_ugds.equals(college_ugds)

### How it works\...

### There\'s more\...

In [ ]:
college_ugds.eq(.0019)    # same as college_ugds == .0019

In [ ]:
from pandas.testing import assert_frame_equal
assert_frame_equal(college_ugds, college_ugds) is None

## Transposing the direction of a DataFrame operation

### How to do it\...

In [ ]:
# Many DataFrame methods have an axis parameter. This parameter controls the direction
# in which the operation takes place. Axis parameters can be 'index' (or 0) or 'columns'
# (or 1).

In [2]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [ ]:
college_ugds.count()

In [ ]:
college_ugds.count(axis='columns').head()

In [ ]:
college_ugds.sum(axis='columns').head()

In [ ]:
college_ugds.median(axis='index')

### How it works\...

In [ ]:
college_ugds_cumsum = college_ugds.cumsum(axis=1)
college_ugds_cumsum.head()

## Determining college campus diversity

In [ ]:
pd.read_csv('../data/college_diversity.csv', index_col='School')

### How to do it\...

In [ ]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [ ]:
(college_ugds.isnull()
   .sum(axis='columns')
   .sort_values(ascending=False)
   .head()
)

In [ ]:
college_ugds = college_ugds.dropna(how='all')
college_ugds.isnull().sum()

In [ ]:
college_ugds.ge(.15)

In [ ]:
diversity_metric = college_ugds.ge(.15).sum(axis='columns')
diversity_metric.head()

In [ ]:
diversity_metric.value_counts()

In [ ]:
diversity_metric.sort_values(ascending=False).head()

In [ ]:
college_ugds.loc[['Regency Beauty Institute-Austin',
                   'Central Texas Beauty College-Temple']]

In [ ]:
us_news_top = ['Rutgers University-Newark',
                  'Andrews University',
                  'Stanford University',
                  'University of Houston',
                  'University of Nevada-Las Vegas']
diversity_metric.loc[us_news_top]

### How it works\...

In [ ]:
(college_ugds
   .max(axis=1)
   .sort_values(ascending=False)
   .head(10)
)

In [ ]:
(college_ugds > .01).all(axis=1).any()

### THE END