# Pandas Tutorial

### 1. how to import pandas library?

In [1]:
import pandas

----------------------------------------------------

### 2. how to check pandas version?

In [2]:
pandas.__version__

'2.1.1'

----------------------------------------------------

### 3. how to use pandas?

In [3]:
import pandas as pd

----------------------------------------------------

### 4. how to import data from a csv file?

#### *read_csv()*

In [5]:
df = pd.read_csv('./data/olympics.csv',skiprows=4)

----------------------------------------------------

### 5. how to access the data frame?

In [6]:
df

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

----------------------------------------------------

### 6. how to get the info about data?

#### *.info()*; *.shape()*

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [8]:
df.shape

(29216, 10)

In [9]:
df.shape[0]

29216

In [10]:
df.shape[1]

10

----------------------------------------------------

### 7. how to list few data instances?

#### *.head()*; *tail()*

In [11]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [12]:
df.tail(3)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

----------------------------------------------------

### 8. how to check the data type?

#### *type()*

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
type(df.City)

pandas.core.series.Series

In [15]:
type(df[['City','Edition','Athlete']])

pandas.core.frame.DataFrame

----------------------------------------------------

### 9. how to access columns/series using []?

In [16]:
df['Athlete']

0               HAJOS, Alfred
1            HERSCHMANN, Otto
2           DRIVAS, Dimitrios
3          MALOKINIS, Ioannis
4          CHASAPIS, Spiridon
                 ...
29211          ENGLICH, Mirko
29212    MIZGAITIS, Mindaugas
29213         PATRIKEEV, Yuri
29214           LOPEZ, Mijain
29215          BAROEV, Khasan
Name: Athlete, Length: 29216, dtype: object

----------------------------------------------------

### 10. how to access columns/series using dot notation?

In [17]:
df.Athlete

0               HAJOS, Alfred
1            HERSCHMANN, Otto
2           DRIVAS, Dimitrios
3          MALOKINIS, Ioannis
4          CHASAPIS, Spiridon
                 ...
29211          ENGLICH, Mirko
29212    MIZGAITIS, Mindaugas
29213         PATRIKEEV, Yuri
29214           LOPEZ, Mijain
29215          BAROEV, Khasan
Name: Athlete, Length: 29216, dtype: object

----------------------------------------------------

### 11. how to access multiple columns?

In [18]:
df[['City','Edition','Athlete']]

          City  Edition               Athlete
0       Athens     1896         HAJOS, Alfred
1       Athens     1896      HERSCHMANN, Otto
2       Athens     1896     DRIVAS, Dimitrios
3       Athens     1896    MALOKINIS, Ioannis
4       Athens     1896    CHASAPIS, Spiridon
...        ...      ...                   ...
29211  Beijing     2008        ENGLICH, Mirko
29212  Beijing     2008  MIZGAITIS, Mindaugas
29213  Beijing     2008       PATRIKEEV, Yuri
29214  Beijing     2008         LOPEZ, Mijain
29215  Beijing     2008        BAROEV, Khasan

[29216 rows x 3 columns]

----------------------------------------------------

### 12. how to obtain the frequency of unique values in a series?

### *.value_counts()*

In [19]:
df.Edition.value_counts()

Edition
2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: count, dtype: int64

In [20]:
df.Gender.value_counts(ascending=True,dropna=False)

Gender
Women     7495
Men      21721
Name: count, dtype: int64

----------------------------------------------------

### 13. how to sort a data frame or a series along either axis?

### *.sort_values()*; *axis=0 (rows):*; *axis=1 (columns):*

In [22]:
athlete = df.Athlete.sort_values()
athlete

651                 AABYE, Edgar
2849       AALTONEN, Arvo Ossian
2852       AALTONEN, Arvo Ossian
7716    AALTONEN, Paavo Johannes
7730    AALTONEN, Paavo Johannes
                  ...
603                   Ã–STMO, Ole
608                   Ã–STMO, Ole
621                   Ã–STMO, Ole
596                   Ã–STMO, Ole
8051           Ã–STRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [23]:
df.sort_values(by=['Edition','Athlete'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

----------------------------------------------------

### 14. how to use indexing?

In [ ]:
# In pandas, the index attribute represents the index (row labels) of a DataFrame 
# or Series. You can access it directly using the index attribute.

### *set_index() to set a DataFrame's index with a specific column.*

In [32]:
df.set_index('Athlete')

,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,,
"HAJOS, Alfred",0,Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",1,Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",2,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",3,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",4,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
"ENGLICH, Mirko",29211,Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",29212,Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",29213,Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",29214,Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",29215,Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [33]:
df.head()

,index,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [ ]:
# The inplace=True parameter is used to modify the DataFrame in place, without the 
# need to create a new DataFrame. If inplace=False or not specified (the default), a 
# new DataFrame with the reset index is returned.

In [34]:
df.set_index('Athlete',inplace=True)

In [35]:
df.head()

,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,,
"HAJOS, Alfred",0,Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",1,Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",2,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",3,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",4,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

### *reset_index()*

In [36]:
df.reset_index(inplace=True)

In [37]:
df.head()

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",0,Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",1,Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",2,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",3,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",4,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

### *sort_index()*

In [ ]:
# The sort_index() method in pandas is used to sort a DataFrame or a Series by its 
# index. This method returns a new object with the same data but with the index sorted.

In [38]:
df.set_index('Athlete',inplace=True)

In [39]:
df.head()

,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,,
"HAJOS, Alfred",0,Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",1,Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",2,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",3,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",4,Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [40]:
df.sort_index(inplace=True,ascending=False)

In [41]:
df.head()

,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,,
"Ã–STRAND, Per-Olof",8051,Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"Ã–STMO, Ole",621,Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"Ã–STMO, Ole",608,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"Ã–STMO, Ole",603,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze
"Ã–STMO, Ole",596,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze

In [42]:
df.reset_index(inplace=True)

In [43]:
df.head()

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"Ã–STRAND, Per-Olof",8051,Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
1,"Ã–STMO, Ole",621,Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
2,"Ã–STMO, Ole",608,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
3,"Ã–STMO, Ole",603,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze
4,"Ã–STMO, Ole",596,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze

---------------------------------------------

### 14. how to use loc accessor?

### *.loc[]*

In [ ]:
# .loc is used for label-based indexing, allowing you to access a group of rows and 
# columns by specifying labels or boolean arrays. It is primarily used to select data 
# based on the labels of rows or columns.

In [ ]:
# .loc is inclusive on both sides, meaning that the start and stop labels specified 
# are included in the selection.

In [44]:
df.loc[df.Athlete == 'BOLT, Usain']

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
26763,"BOLT, Usain",27603,Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold
26764,"BOLT, Usain",27570,Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
26765,"BOLT, Usain",27552,Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold

In [45]:
df.head()

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"Ã–STRAND, Per-Olof",8051,Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
1,"Ã–STMO, Ole",621,Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
2,"Ã–STMO, Ole",608,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
3,"Ã–STMO, Ole",603,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze
4,"Ã–STMO, Ole",596,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze

### 15. how to use iloc accessor?

###  *iloc[]*

In [46]:
# The iloc accessor in pandas is used for integer-location based indexing. It allows you to select data 
# from a DataFrame based on the integer indices of rows and columns.

In [48]:
df.iloc[100]

Athlete         ZORRILLA, Victoriano
index                           5038
City                       Amsterdam
Edition                         1928
Sport                       Aquatics
Discipline                  Swimming
NOC                              ARG
Gender                           Men
Event                 400m freestyle
Event_gender                       M
Medal                           Gold
Name: 100, dtype: object

In [49]:
df.iloc[[1245, 2201, 3430, 12000]]

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1245,"WIECZOREK-CIEPLY, Teresa Barbara",10905,Tokyo,1964,Athletics,Athletics,POL,Women,80m hurdles,W,Silver
2201,"VEZZALI, Valentina",28160,Beijing,2008,Fencing,Fencing,ITA,Women,foil team,W,Bronze
3430,"TMENOV, Tamerlan",26583,Athens,2004,Judo,Judo,RUS,Men,+ 100kg (heavyweight),M,Silver
12000,"MKRCHYAN, Armen",23103,Atlanta,1996,Wrestling,Wrestling Free.,ARM,Men,- 48kg (light-flyweight),M,Silver

In [50]:
df.iloc[1:7]

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1,"Ã–STMO, Ole",621,Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
2,"Ã–STMO, Ole",608,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
3,"Ã–STMO, Ole",603,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze
4,"Ã–STMO, Ole",596,Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
5,"Ã–STERVOLD, Ole Olsen",3740,Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
6,"Ã–STERVOLD, Kristian Olsen",3739,Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold

### 16. how to use groupby() function?

###  *groupby()*

In [ ]:
# The groupby() function in pandas is used for grouping data based on some criteria, and it is followed 
# by an aggregation or transformation operation. The basic idea is to split the data into groups based 
# on a specified key and then apply a function to each group independently.

In [ ]:
list(df.groupby('Edition'))

In [ ]:
# Aggregation with groupby()

In [53]:
df.groupby('Edition').size()

Edition
1896     151
1900     512
1904     470
1908     804
1912     885
1920    1298
1924     884
1928     710
1932     615
1936     875
1948     814
1952     889
1956     885
1960     882
1964    1010
1968    1031
1972    1185
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2000    2015
2004    1998
2008    2042
dtype: int64

In [54]:
# min, max, and count

In [55]:
df.groupby(['Edition','NOC','Medal']).agg(['min','max','count'])

                                    Athlete                                 \
                                        min                      max count
Edition NOC Medal
1896    AUS Gold               FLACK, Edwin             FLACK, Edwin     2
        AUT Bronze            SCHMAL, Adolf            SCHMAL, Adolf     2
            Gold              NEUMANN, Paul            SCHMAL, Adolf     2
            Silver         HERSCHMANN, Otto         HERSCHMANN, Otto     1
        DEN Bronze            JENSEN, Viggo          NIELSEN, Holger     3
...                                     ...                      ...   ...
2008    UZB Silver        TANGRIEV, Abdullo           TIGIEV, Soslan     2
        VEN Bronze  CONTRERAS RIVERO, Dalia  CONTRERAS RIVERO, Dalia     1
        VIE Silver          HOANG, Anh Tuan          HOANG, Anh Tuan     1
        ZIM Gold           COVENTRY, Kirsty         COVENTRY, Kirsty     1
            Silver         COVENTRY, Kirsty         COVENTRY, Kirsty     3

                    index                  City                         Sport  \
                      min    max count      min      max count            min
Edition NOC Medal
1896    AUS Gold       18     24     2   Athens   Athens     2      Athletics
        AUT Bronze     53     58     2   Athens   Athens     2        Cycling
            Gold        9     56     2   Athens   Athens     2       Aquatics
            Silver      1      1     1   Athens   Athens     1       Aquatics
        DEN Bronze     69    129     3   Athens   Athens     3        Fencing
...                   ...    ...   ...      ...      ...   ...            ...
2008    UZB Silver  28597  29176     2  Beijing  Beijing     2           Judo
        VEN Bronze  28960  28960     1  Beijing  Beijing     1      Taekwondo
        VIE Silver  29102  29102     1  Beijing  Beijing     1  Weightlifting
        ZIM Gold    27243  27243     1  Beijing  Beijing     1       Aquatics
            Silver  27216  27280     3  Beijing  Beijing     3       Aquatics

                    ... Discipline Gender               \
                    ...      count    min    max count
Edition NOC Medal   ...
1896    AUS Gold    ...          2    Men    Men     2
        AUT Bronze  ...          2    Men    Men     2
            Gold    ...          2    Men    Men     2
            Silver  ...          1    Men    Men     1
        DEN Bronze  ...          3    Men    Men     3
...                 ...        ...    ...    ...   ...
2008    UZB Silver  ...          2    Men    Men     2
        VEN Bronze  ...          1  Women  Women     1
        VIE Silver  ...          1    Men    Men     1
        ZIM Gold    ...          1  Women  Women     1
            Silver  ...          3  Women  Women     3

                                               Event  \
                                                 min
Edition NOC Medal
1896    AUS Gold                               1500m
        AUT Bronze                              10km
            Gold                        12-hour race
            Silver                    100m freestyle
        DEN Bronze  25m rapid fire pistol (60 shots)
...                                              ...
2008    UZB Silver             + 100kg (heavyweight)
        VEN Bronze                           - 49 kg
        VIE Silver      - 56kg, total (bantamweight)
        ZIM Gold                     200m backstroke
            Silver                   100m backstroke

                                                       Event_gender
                                             max count          min max count
Edition NOC Medal
1896    AUS Gold                            800m     2            M   M     2
        AUT Bronze                1km time trial     2            M   M     2
            Gold                  400m freestyle     2            M   M     2
            Silver                100m freestyle     1            M   M     1
        DEN Bronze              sabre individual     3            M   M     3
...                                          ...   ...          ...  ..   ...
2008    UZB Silver                     66 - 74kg     2            M   M     2
        VEN Bronze                       - 49 kg     1            W   W     1
        VIE Silver  - 56kg, total (bantamweight)     1            M   M     1
        ZIM Gold                 200m backstroke     1            W   W     1
            Silver        400m individual medley     3            W   W     3

[2356 rows x 24 columns]

In [56]:
df.groupby(['Edition','NOC','Medal']).size()

Edition  NOC  Medal
1896     AUS  Gold      2
         AUT  Bronze    2
              Gold      2
              Silver    1
         DEN  Bronze    3
                       ..
2008     UZB  Silver    2
         VEN  Bronze    1
         VIE  Silver    1
         ZIM  Gold      1
              Silver    3
Length: 2356, dtype: int64

In [57]:
df.groupby(['Edition','NOC','Medal']).agg({'Edition' :['min','max','count']})

                   Edition
                       min   max count
Edition NOC Medal
1896    AUS Gold      1896  1896     2
        AUT Bronze    1896  1896     2
            Gold      1896  1896     2
            Silver    1896  1896     1
        DEN Bronze    1896  1896     3
...                    ...   ...   ...
2008    UZB Silver    2008  2008     2
        VEN Bronze    2008  2008     1
        VIE Silver    2008  2008     1
        ZIM Gold      2008  2008     1
            Silver    2008  2008     3

[2356 rows x 3 columns]

In [58]:
df.loc[df.Athlete == 'LEWIS, Carl'].groupby('Athlete').agg({'Edition' : ['min','max','count']})

            Edition
                min   max count
Athlete
LEWIS, Carl    1984  1996    10

### 17. how to use stack() function?

###  *stack()*

In [1]:
# The stack() function is used to pivot the DataFrame, moving the innermost column index to become the innermost 
# row index. This operation is often called "stacking" because it stacks the specified level(s) from columns 
# to index.

In [ ]:
# ## Athletes winning medals in Beijing Olympics 100m or 200m track event
mw = oo[(oo.Edition == 2008) & ( (oo.Event == '100m') | (oo.Event == '200m'))]
mw

In [ ]:
g = mw.groupby(['NOC','Gender','Discipline','Event']).size()
g

In [ ]:
dfs = g.unstack(['Discipline','Event'])
dfs

In [ ]:
dfs

In [ ]:
dfs.stack()

In [ ]:
dfs.stack('Event')

### 18. how to use unstack() function?

###  *unstack()*

In [ ]:
dfs

In [ ]:
dfs.unstack()

### *Practice Questions*

#### *In which events did Jesse Owens win a medal?*

In [ ]:
jo = oo[oo.Athlete == 'OWENS, Jesse']
jo

#### *Which country has won the most men's gold medals in singles badminton over the years? Sort the results alphabetically by the player's  names.*

In [ ]:
gbm = oo[(oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Sport == 'Badminton')]
gbm.sort_values(by='Athlete')

#### *Which three countries have won the most medals in recent years (from 1984 to 2008)?*

In [ ]:
rec = oo[oo.Edition >= 1984]
rec.NOC.value_counts().head(3)

#### *Display the male gold medal winners for the 100m Track & Field sprint event over the years. List the results starting with the most recent. Show the Olympic City, Edition, Athlete and the country they represent.*

In [ ]:
gmh = oo[(oo.Gender == 'Men') & (oo.Medal == 'Gold') & (oo.Event == '100m')]
gmh.sort_values('Edition',ascending=False)[['City','Edition','Athlete','NOC']]

In [ ]:
oo.Event.value_counts()

### Create a list showing the total number of medals won for each country over the history of the Olympics. For each country, include the year of the first and most recent Olympic medal wins.

In [ ]:
oo.groupby('NOC').agg({'Edition' : ['count','min','max']})

### Athletes winning medals in Beijing Olympics 100m or 200m track event

In [60]:
mw = df[(df.Edition == 2008) & ( (df.Event == '100m') | (df.Event == '200m'))]
mw

,Athlete,index,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
3635,"THOMPSON, Richard",27553,Beijing,2008,Athletics,Athletics,TRI,Men,100m,M,Silver
4782,"STEWART, Kerron",27572,Beijing,2008,Athletics,Athletics,JAM,Women,200m,W,Bronze
4783,"STEWART, Kerron",27556,Beijing,2008,Athletics,Athletics,JAM,Women,100m,W,Silver
5678,"SIMPSON, Sherone",27555,Beijing,2008,Athletics,Athletics,JAM,Women,100m,W,Silver
21686,"FRASER, Shelly-ann",27554,Beijing,2008,Athletics,Athletics,JAM,Women,100m,W,Gold
22197,"FELIX, Allyson",27574,Beijing,2008,Athletics,Athletics,USA,Women,200m,W,Silver
23384,"DIX, Walter",27551,Beijing,2008,Athletics,Athletics,USA,Men,100m,M,Bronze
23385,"DIX, Walter",27569,Beijing,2008,Athletics,Athletics,USA,Men,200m,M,Bronze
24485,"CRAWFORD, Shawn",27571,Beijing,2008,Athletics,Athletics,USA,Men,200m,M,Silver
25690,"CAMPBELL-BROWN, Veronica",27573,Beijing,2008,Athletics,Athletics,JAM,Women,200m,W,Gold
26764,"BOLT, Usain",27570,Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
26765,"BOLT, Usain",27552,Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold

### In every Olympics, which US athlete has won the most total number of medals? Include the athlete's discipline.

In [ ]:
gy  = oo[oo.NOC == 'USA']
gy = gy.groupby(['Edition','Athlete','Medal']).size().unstack('Medal',fill_value=0)
gy['Total'] = gy['Gold'] + gy['Silver'] + gy['Bronze']
gy.reset_index(inplace=True)
tu = [group.sort_values('Total',ascending=False)[:1] for year,group in gy.groupby('Edition')]
tu
top = pd.DataFrame()
for i in tu:
    top = top.append(i)
top

----------------------------------------------------