## CH-04: Beginning Data Analysis

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 6, 'display.max_rows', 6, 'display.max_colwidth', 12)

## Introduction

## Developing a data analysis routine

### How to do it...

In [2]:
college = pd.read_csv('../data/college.csv')
college.sample(random_state=42)
college.head()

,INSTNM,CITY,STABBR,...,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama ...,Normal,AL,...,0.1049,30300,33888
1,Universi...,Birmingham,AL,...,0.2422,39700,21941.5
2,Amridge ...,Montgomery,AL,...,0.8540,40100,23370
3,Universi...,Huntsville,AL,...,0.2640,45500,24097
4,Alabama ...,Montgomery,AL,...,0.1270,26600,33118.5

In [3]:
# Get the dimensions of the DataFrame with the .shape attribute:

college.shape

(7535, 27)

In [4]:
# List the data type of each column, the number of non-missing values, and memory
# usage with the .info method:

college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [6]:
college.describe()

,HBCU,MENONLY,WOMENONLY,...,PCTPELL,PCTFLOAN,UG25ABV
count,7164.000000,7164.000000,7164.000000,...,6849.000000,6849.000000,6718.000000
mean,0.014238,0.009213,0.005304,...,0.530643,0.522211,0.410021
std,0.118478,0.095546,0.072642,...,0.225544,0.283616,0.228939
...,...,...,...,...,...,...,...
50%,0.000000,0.000000,0.000000,...,0.521500,0.583300,0.400750
75%,0.000000,0.000000,0.000000,...,0.712900,0.745000,0.572275
max,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000

In [7]:
# Get summary statistics for the numerical columns and transpose the DataFrame 
# for more readable output:

college.describe(include=[np.number]).T

            count      mean       std  ...      50%       75%  max
HBCU       7164.0  0.014238  0.118478  ...  0.00000  0.000000  1.0
MENONLY    7164.0  0.009213  0.095546  ...  0.00000  0.000000  1.0
WOMENONLY  7164.0  0.005304  0.072642  ...  0.00000  0.000000  1.0
...           ...       ...       ...  ...      ...       ...  ...
PCTPELL    6849.0  0.530643  0.225544  ...  0.52150  0.712900  1.0
PCTFLOAN   6849.0  0.522211  0.283616  ...  0.58330  0.745000  1.0
UG25ABV    6718.0  0.410021  0.228939  ...  0.40075  0.572275  1.0

[22 rows x 8 columns]

In [8]:
college.describe(include=[pd.Categorical]).T

             count unique          top  freq
INSTNM        7535   7535  Alabama ...     1
CITY          7535   2514     New York    87
STABBR        7535     59           CA   773
MD_EARN_W...  6413    598  PrivacyS...   822
GRAD_DEBT...  7503   2038  PrivacyS...  1510

In [9]:
college.describe(include=[object]).T

             count unique          top  freq
INSTNM        7535   7535  Alabama ...     1
CITY          7535   2514     New York    87
STABBR        7535     59           CA   773
MD_EARN_W...  6413    598  PrivacyS...   822
GRAD_DEBT...  7503   2038  PrivacyS...  1510

In [10]:
# It is possible to specify the exact quantiles returned from the .describe method 
# when used with numeric columns:

college.describe(include=[np.number],
   percentiles=[.01, .05, .10, .25, .5,
                .75, .9, .95, .99]).T

            count      mean       std  ...      95%       99%  max
HBCU       7164.0  0.014238  0.118478  ...  0.00000  1.000000  1.0
MENONLY    7164.0  0.009213  0.095546  ...  0.00000  0.000000  1.0
WOMENONLY  7164.0  0.005304  0.072642  ...  0.00000  0.000000  1.0
...           ...       ...       ...  ...      ...       ...  ...
PCTPELL    6849.0  0.530643  0.225544  ...  0.89636  0.993908  1.0
PCTFLOAN   6849.0  0.522211  0.283616  ...  0.89792  0.986368  1.0
UG25ABV    6718.0  0.410021  0.228939  ...  0.80000  0.917383  1.0

[22 rows x 14 columns]

## Data dictionaries

In [ ]:
# A crucial part of data analysis involves creating and maintaining a data dictionary. 

# A data dictionary is a table of metadata and notes on each column of data. One of the 
# primary purposes of a data dictionary is to explain the meaning of the column names. 

# The college dataset uses a lot of abbreviations that are likely to be unfamiliar to an 
# analyst who is inspecting it for the first time.

In [11]:
# A data dictionary for the college dataset is provided in the following college_data_
# dictionary.csv file:

pd.read_csv('../data/college_data_dictionary.csv')

    column_name  description
0        INSTNM  Institut...
1          CITY  City Loc...
2        STABBR  State Ab...
..          ...          ...
24      UG25ABV  Percent ...
25  MD_EARN_...  Median E...
26  GRAD_DEB...  Median d...

[27 rows x 2 columns]

## Reducing memory by changing data types

In [12]:
# After reading in our college dataset, we select a few columns of different data types
# that will clearly show how much memory may be saved:

In [28]:
college = pd.read_csv('../data/college.csv')
different_cols = ['RELAFFIL', 'SATMTMID', 'CURROPER', 'INSTNM', 'STABBR']

In [29]:
# This command is selecting all rows from the DataFrame college but only 
# the columns specified in the different_cols variable. 

# The variable different_cols is expected to contain the column labels that 
# you want to extract from the DataFrame.

col2 = college.loc[:, different_cols]
col2.head()

   RELAFFIL  SATMTMID  CURROPER       INSTNM STABBR
0         0     420.0         1  Alabama ...     AL
1         0     565.0         1  Universi...     AL
2         1       NaN         1  Amridge ...     AL
3         0     590.0         1  Universi...     AL
4         0     430.0         1  Alabama ...     AL

In [30]:
#  Inspect the data types of each column:

col2.dtypes

RELAFFIL      int64
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [31]:
#  Find the memory usage of each column with the .memory_usage method:

original_mem = col2.memory_usage(deep=True)
original_mem

Index          132
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [35]:
# There is no need to use 64 bits for the RELAFFIL column as it contains only 0 or 1.
# Let's convert this column to an 8-bit (1 byte) integer with the .astype method:

col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [36]:
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [37]:
college[different_cols].memory_usage(deep=True)

Index          132
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [38]:
# To save even more memory, you will want to consider changing object data types to
# categorical if they have a reasonably low cardinality (number of unique values). Let's
# first check the number of unique values for both the object columns:


col2.select_dtypes(include=['object']).nunique()

INSTNM    7535
STABBR      59
dtype: int64

In [39]:
# The STABBR column is a good candidate to convert to categorical as less than one
# percent of its values are unique:

col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [40]:
# Compute the memory usage again:

new_mem = col2.memory_usage(deep=True)
new_mem

Index          132
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13120
dtype: int64

In [41]:
# Finally, let's compare the original memory usage with our updated memory usage.
# The RELAFFIL column is, as expected, an eighth of its original size, while the
# STABBR column has shrunk to just three percent of its original size:

new_mem / original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
CURROPER    1.000000
INSTNM      1.000695
STABBR      0.029512
dtype: float64

### How it works...

### There's more...

In [ ]:
college.loc[0, 'CURROPER'] = 10000000
college.loc[0, 'INSTNM'] = college.loc[0, 'INSTNM'] + 'a'
college[['CURROPER', 'INSTNM']].memory_usage(deep=True)

In [ ]:
college['MENONLY'].dtype

In [ ]:
college['MENONLY'].astype(np.int8)

In [ ]:
college.assign(MENONLY=college['MENONLY'].astype('float16'),
    RELAFFIL=college['RELAFFIL'].astype('int8'))

In [ ]:
college.index = pd.Int64Index(college.index)
college.index.memory_usage() # previously was just 80

## Selecting the smallest of the largest

### How to do it...

In [ ]:
movie = pd.read_csv('../data/movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie2.head()

In [ ]:
# Use the .nlargest method to select the top 100 movies by imdb_score

movie2.nlargest(100, 'imdb_score').head()

In [ ]:
# Chain the .nsmallest method to return the five lowest budget films among those with a top 100 score:

(movie2
  .nlargest(100, 'imdb_score')
  .nsmallest(5, 'budget')
)

### How it works...

### There's more...

## Selecting the largest of each group by sorting

### How to do it...

In [ ]:
movie = pd.read_csv('../data/movie.csv')
movie[['movie_title', 'title_year', 'imdb_score']]

In [ ]:
# Use the .sort_values method to sort the DataFrame by title_year. The default behavior sorts from the smallest to the largest. 
# Use the ascending=True parameter to invert this behavior:

(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .sort_values('title_year', ascending=False)
)

In [ ]:
# To sort multiple columns at once, use a list.

(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .sort_values(['title_year','imdb_score'],
               ascending=False)
)

In [ ]:
# We use the .drop_duplicates method to keep only the first row of every year:

(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .sort_values(['title_year','imdb_score'],
               ascending=False)
  .drop_duplicates(subset='title_year')
)

### How it works... Group by Operations

##  There's more...

In [ ]:
(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .groupby('title_year', as_index=False)
  .apply(lambda df: df.sort_values('imdb_score',
         ascending=False).head(1))
  .sort_values('title_year', ascending=False)
)

In [ ]:
(movie
  [['movie_title', 'title_year',
    'content_rating', 'budget']]
   .sort_values(['title_year',
       'content_rating', 'budget'],
       ascending=[False, False, True])
   .drop_duplicates(subset=['title_year',
        'content_rating'])
)

## Replicating nlargest with sort_values

### How to do it...

In [ ]:
# Use .sort_values to replicate the first part of the expression and grab the first 100 rows with the .head method

movie = pd.read_csv('../data/movie.csv')
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .nlargest(100, 'imdb_score') 
   .nsmallest(5, 'budget')
)

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .sort_values('imdb_score', ascending=False)
   .head(100)
)

In [ ]:
# Now that we have the top 100 scoring movies, we can use .sort_values with .head again to grab the lowest five by budget

(movie
   [['movie_title', 'imdb_score', 'budget']]
   .sort_values('imdb_score', ascending=False)
   .head(100) 
   .sort_values('budget')
   .head(5)
)

### How it works...

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .nlargest(100, 'imdb_score')
   .tail()
)

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .sort_values('imdb_score', ascending=False) 
   .head(100)
   .tail()
)

## Calculating a trailing stop order price

### How to do it...

In [ ]:
import datetime
#import pandas_datareader.data as web
import requests_cache
session = requests_cache.CachedSession(
   cache_name='cache', backend='sqlite', 
   expire_after=datetime.timedelta(days=90))

In [ ]:
tsla = web.DataReader('tsla', data_source='yahoo',
   start='2017-1-1', session=session)
tsla.head(8)

In [ ]:
tsla_close = tsla['Close']

In [ ]:
tsla_cummax = tsla_close.cummax()
tsla_cummax.head()

In [ ]:
(tsla
  ['Close']
  .cummax()
  .mul(.9)
  .head()
)

### How it works...

### There's more...