# CH 01: Pandas Foundations

In [1]:
import pandas as pd
import numpy as np

## Introduction

## Dissecting the anatomy of a DataFrame

In [2]:
pd.set_option('display.max_columns', 4, 'display.max_rows', 10)

In [3]:
movies = pd.read_csv('../data/movie.csv')

movies.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

### How it works...

## DataFrame Attributes

### How to do it...

In [4]:
movies = pd.read_csv('../data/movie.csv')
columns = movies.columns
index = movies.index
data = movies.values

In [5]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
index

RangeIndex(start=0, stop=4916, step=1)

In [7]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [8]:
type(index)

pandas.core.indexes.range.RangeIndex

In [9]:
type(columns)

pandas.core.indexes.base.Index

In [10]:
type(data)

numpy.ndarray

In [11]:
issubclass(pd.RangeIndex, pd.Index)

True

### How it works...

### There's more

In [12]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [13]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

## Understanding data types

### How to do it

In [14]:
movies = pd.read_csv('../data/movie.csv')

In [15]:
movies.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### How it works...

In [17]:
pd.Series(['Paul', np.nan, 'George']).dtype

dtype('O')

### There's more...

### See also

## Selecting a Column

### How to do it

In [18]:
movies = pd.read_csv('../data/movie.csv')
movies['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [19]:
movies.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [20]:
#  The code will return a Pandas Series containing all the values from the "director_name" column in the DataFrame movies.

# : in the row position means that you want to select all rows.

movies.loc[:, 'director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [21]:
# The code snippet movies.iloc[:, 1] is used to select a specific column from a Pandas DataFrame movies using integer-based 
# indexing with .iloc[].

movies.iloc[:, 1]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [22]:
movies['director_name'].index

RangeIndex(start=0, stop=4916, step=1)

In [23]:
# For example, if the "director_name" column contains strings representing director names, the result might be: dtype('O')

# This indicates that the data type of the "director_name" column is 'O', which stands for 'object' and is often used for 
# text data in Pandas.

movies['director_name'].dtype

dtype('O')

In [24]:
# The code movies['director_name'].size is used to determine the number of elements (rows) in the Pandas Series that represents 
# the "director_name" column in the DataFrame movies.

movies['director_name'].size

4916

In [25]:
# The code movies['director_name'].name is used to access the name attribute of the Pandas Series that represents the "director_name" 
# column in the DataFrame movies.

movies['director_name'].name

'director_name'

In [26]:
type(movies['director_name'])

pandas.core.series.Series

In [27]:
# movies['director_name'] selects the "director_name" column from the Pandas DataFrame movies, resulting in a Pandas Series 
# that contains director names.

# .apply(type) applies the Python built-in type function to each element in the Series, which returns the data type of each director name. 
# This will result in a new Series containing the data types of each element in the original Series.

# .unique() is then applied to the Series of data types, returning an array of unique data types present in the Series.

movies['director_name'].apply(type).unique()

# This code is useful for inspecting the data types within a specific column and identifying if there are any unexpected data types present.

array([<class 'str'>, <class 'float'>], dtype=object)

### How it works...

### There's more

### See also

## Calling Series Methods

In [28]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

411

In [29]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

427

In [30]:
len(s_attr_methods & df_attr_methods)

357

### How to do it

In [31]:
movies = pd.read_csv('../data/movie.csv')
movies.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [32]:
director = movies['director_name']

In [33]:
fb_likes = movies['actor_1_facebook_likes']

In [34]:
director.dtype

dtype('O')

In [35]:
fb_likes.dtype

dtype('float64')

In [36]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [37]:
# Another option is to use the .sample method to view some of the data. Depending on your dataset, this might provide better insight 
# into your data as the first rows might be very different from subsequent rows:

# random_state=42: This argument sets the random seed for reproducibility.

director.sample(n=5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

In [38]:
fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [39]:
# The code director.value_counts() is used to count the occurrences of unique values in a Pandas Series called director.

director.value_counts()

director_name
Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: count, Length: 2397, dtype: int64

In [40]:
fb_likes.value_counts()

actor_1_facebook_likes
1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
703.0        1
208.0        1
79.0         1
269.0        1
291.0        1
Name: count, Length: 877, dtype: int64

In [41]:
# The code director.size is used to determine the number of elements (rows) in a Pandas Series called director.

director.size

4916

In [42]:
#  It would return a tuple with a single element, indicating the number of elements (rows) in the director Series.

director.shape

(4916,)

In [43]:
len(director)

4916

In [44]:
# The code len(director) is used to determine the number of elements (rows) in a Pandas Series called director.

director.unique()

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

In [45]:
# The code director.count() is used to count the number of non-null (non-missing) values in a Pandas Series called director.

director.count()

4814

In [46]:
fb_likes.count()

4909

In [47]:
# The code fb_likes.quantile() is used to calculate the median (50th percentile) of a Pandas Series called fb_likes. 
# The quantile() function computes the specified quantile of the data.

fb_likes.quantile()

982.0

In [48]:
# The code fb_likes.min() is used to find the minimum (smallest) value in a Pandas Series called fb_likes.

fb_likes.min()

0.0

In [49]:
fb_likes.max()

640000.0

In [50]:
fb_likes.mean()

6494.488490527602

In [51]:
fb_likes.median()

982.0

In [52]:
fb_likes.std()

15106.986883848309

In [53]:
fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [54]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [55]:
# The code fb_likes.quantile(0.2) is used to calculate the 20th percentile of a Pandas Series called fb_likes. 
# The quantile() function allows you to specify a quantile by providing a decimal value between 0 and 1.

fb_likes.quantile(0.2)

510.0

In [56]:
fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

In [57]:
# The code director.isna() is used to check for missing (NaN) values in a Pandas Series called director. 

# It returns a Boolean Series of the same length as director, where each element is True if the corresponding 
# value in the director Series is missing (NaN), and False otherwise.

director.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [58]:
# This code is used to create a new Pandas Series called fb_likes_filled where missing (NaN) values in the original Series fb_likes 
# are replaced with the value 0.

# So, after executing this code, you'll have a new Series called fb_likes_filled that is a copy of fb_likes but with missing values 
# replaced by 0.

# This is a common technique for dealing with missing data when you want to replace missing values with a specific value, such as 0, 
# to ensure that the data is complete and can be used for analysis or visualization without any issues related to missing data.

fb_likes_filled = fb_likes.fillna(0)
fb_likes_filled.count()

4916

In [59]:
# The code is used to create a new Pandas Series called fb_likes_dropped where all rows containing missing (NaN) values in the original 
# Series fb_likes are removed.

# After executing this code, you'll have a new Series called fb_likes_dropped, which contains only the non-null values from the original 
# fb_likes Series. 

# This can be useful when you want to eliminate rows with missing data from your analysis or when you want to work with a subset of the 
# data that doesn't contain missing values.

fb_likes_dropped = fb_likes.dropna()
fb_likes_dropped.size

4909

### How it works...

### There's more...

In [60]:
director.value_counts(normalize=True)

director_name
Steven Spielberg    0.005401
Woody Allen         0.004570
Martin Scorsese     0.004155
Clint Eastwood      0.004155
Ridley Scott        0.003324
                      ...
John Putch          0.000208
Luca Guadagnino     0.000208
Sam Fell            0.000208
Dan Fogelman        0.000208
Daniel Hsia         0.000208
Name: proportion, Length: 2397, dtype: float64

In [61]:
director.hasnans

True

In [62]:
director.notna()

0        True
1        True
2        True
3        True
4        True
        ...
4911     True
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

### See also

## Series Operations

In [63]:
5 + 9    # plus operator example. Adds 5 and 9

14

### How to do it... {#how-to-do-it-5}

In [66]:
movies = pd.read_csv('../data/movie.csv')
imdb_score = movies['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [67]:
imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [68]:
imdb_score * 2.5

0       19.75
1       17.75
2       17.00
3       21.25
4       17.75
        ...
4911    19.25
4912    18.75
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [69]:
imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
4911    1.0
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [70]:
imdb_score > 7

0        True
1        True
2       False
3        True
4        True
        ...
4911     True
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [71]:
director = movies['director_name']
director == 'James Cameron'

0        True
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

### How it works...

### There's more...

In [72]:
imdb_score.add(1)   # imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [73]:
imdb_score.gt(7)   # imdb_score > 7

0        True
1        True
2       False
3        True
4        True
        ...
4911     True
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

### See also

## Chaining Series Methods

### How to do it... {#how-to-do-it-6}

In [74]:
movies = pd.read_csv('../data/movie.csv')
fb_likes = movies['actor_1_facebook_likes']
director = movies['director_name']

In [75]:
director.value_counts().head(3)

director_name
Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Name: count, dtype: int64

In [76]:
fb_likes.isna().sum()

7

In [77]:
fb_likes.dtype

dtype('float64')

In [78]:
(fb_likes.fillna(0)
         .astype(int)
         .head()
)

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

### How it works...

### There's more...

In [79]:
(fb_likes.fillna(0)
         #.astype(int)
         #.head()
)

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

In [80]:
(fb_likes.fillna(0)
         .astype(int)
         #.head()
)

0        1000
1       40000
2       11000
3       27000
4         131
        ...
4911      637
4912      841
4913        0
4914      946
4915       86
Name: actor_1_facebook_likes, Length: 4916, dtype: int32

In [81]:
fb_likes.isna().mean()

0.0014239218877135883

In [82]:
fb_likes.fillna(0) \
        .astype(int) \
        .head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [83]:
def debug_df(df):
    print("BEFORE")
    print(df)
    print("AFTER")
    return df

In [84]:
(fb_likes.fillna(0)
         .pipe(debug_df)
         .astype(int) 
         .head()
)

BEFORE
0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64
AFTER

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [85]:
intermediate = None
def get_intermediate(df):
    global intermediate
    intermediate = df
    return df

In [86]:
res = (fb_likes.fillna(0)
         .pipe(get_intermediate)
         .astype(int) 
         .head()
)

In [87]:
intermediate

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

## Renaming Column Names

### How to do it...

In [88]:
movies = pd.read_csv('../data/movie.csv')

In [89]:
col_map = {'director_name':'Director Name', 
             'num_critic_for_reviews': 'Critical Reviews'}

In [90]:
movies.rename(columns=col_map).head()

   color      Director Name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

### How it works... {#how-it-works-8}

### There's more {#theres-more-7}

In [91]:
idx_map = {'Avatar':'Ratava', 'Spectre': 'Ertceps',
  "Pirates of the Caribbean: At World's End": 'POC'}
col_map = {'aspect_ratio': 'aspect',
  "movie_facebook_likes": 'fblikes'}
(movies
   .set_index('movie_title')
   .rename(index=idx_map, columns=col_map)
   .head(3)
)

             color   director_name  ...  aspect  fblikes
movie_title                         ...
Ratava       Color   James Cameron  ...    1.78    33000
POC          Color  Gore Verbinski  ...    2.35        0
Ertceps      Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

In [92]:
movies = pd.read_csv('../data/movie.csv', index_col='movie_title')
ids = movies.index.tolist()
columns = movies.columns.tolist()

# rename the row and column labels with list assignments

In [93]:
ids[0] = 'Ratava'
ids[1] = 'POC'
ids[2] = 'Ertceps'
columns[1] = 'director'
columns[-2] = 'aspect'
columns[-1] = 'fblikes'
movies.index = ids
movies.columns = columns

In [94]:
movies.head(3)

         color        director  ...  aspect  fblikes
Ratava   Color   James Cameron  ...    1.78    33000
POC      Color  Gore Verbinski  ...    2.35        0
Ertceps  Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

In [95]:
def to_clean(val):
    return val.strip().lower().replace(' ', '_')

In [96]:
movies.rename(columns=to_clean).head(3)

         color        director  ...  aspect  fblikes
Ratava   Color   James Cameron  ...    1.78    33000
POC      Color  Gore Verbinski  ...    2.35        0
Ertceps  Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

In [97]:
cols = [col.strip().lower().replace(' ', '_')
        for col in movies.columns]
movies.columns = cols
movies.head(3)

         color        director  ...  aspect  fblikes
Ratava   Color   James Cameron  ...    1.78    33000
POC      Color  Gore Verbinski  ...    2.35        0
Ertceps  Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

## Creating and Deleting columns

### How to do it... {#how-to-do-it-9}

In [106]:
movies = pd.read_csv('../data/movie.csv')
movies['has_seen'] = 0
movies.head()

   color      director_name  ...  movie_facebook_likes  has_seen
0  Color      James Cameron  ...                 33000         0
1  Color     Gore Verbinski  ...                     0         0
2  Color         Sam Mendes  ...                 85000         0
3  Color  Christopher Nolan  ...                164000         0
4    NaN        Doug Walker  ...                     0         0

[5 rows x 29 columns]

In [103]:
idx_map = {'Avatar':'Ratava', 'Spectre': 'Ertceps',
  "Pirates of the Caribbean: At World's End": 'POC'}
col_map = {'aspect_ratio': 'aspect',
  "movie_facebook_likes": 'fblikes'}
(movies
   .rename(index=idx_map, columns=col_map)
   .assign(has_seen=0)
)

      color      director_name  ...  fblikes  has_seen
0     Color      James Cameron  ...    33000         0
1     Color     Gore Verbinski  ...        0         0
2     Color         Sam Mendes  ...    85000         0
3     Color  Christopher Nolan  ...   164000         0
4       NaN        Doug Walker  ...        0         0
...     ...                ...  ...      ...       ...
4911  Color        Scott Smith  ...       84         0
4912  Color                NaN  ...    32000         0
4913  Color   Benjamin Roberds  ...       16         0
4914  Color        Daniel Hsia  ...      660         0
4915  Color           Jon Gunn  ...      456         0

[4916 rows x 29 columns]

In [108]:
total = (movies['actor_1_facebook_likes'] +
         movies['actor_2_facebook_likes'] + 
         movies['actor_3_facebook_likes'] + 
         movies['director_facebook_likes'])

In [101]:
total.head(5)

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4        NaN
dtype: float64

In [109]:
cols = ['actor_1_facebook_likes','actor_2_facebook_likes',
    'actor_3_facebook_likes','director_facebook_likes']
sum_col = movies[cols].sum(axis='columns')
sum_col.head(5)

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4      274.0
dtype: float64

In [110]:
movies.assign(total_likes=sum_col).head(5)

   color      director_name  ...  has_seen  total_likes
0  Color      James Cameron  ...         0       2791.0
1  Color     Gore Verbinski  ...         0      46563.0
2  Color         Sam Mendes  ...         0      11554.0
3  Color  Christopher Nolan  ...         0      95000.0
4    NaN        Doug Walker  ...         0        274.0

[5 rows x 30 columns]

In [111]:
def sum_likes(df):
   return df[[c for c in df.columns
              if 'like' in c]].sum(axis=1)

In [112]:
movies.assign(total_likes=sum_likes).head(5)

   color      director_name  ...  has_seen  total_likes
0  Color      James Cameron  ...         0      40625.0
1  Color     Gore Verbinski  ...         0      94913.0
2  Color         Sam Mendes  ...         0     108254.0
3  Color  Christopher Nolan  ...         0     365759.0
4    NaN        Doug Walker  ...         0        417.0

[5 rows x 30 columns]

In [113]:
(movies
   .assign(total_likes=sum_col)
   ['total_likes']
   .isna()
   .sum()
)

0

In [114]:
(movies
   .assign(total_likes=total)
   ['total_likes']
   .isna()
   .sum()
)

122

In [115]:
(movies
   .assign(total_likes=total.fillna(0))
   ['total_likes']
   .isna()
   .sum()
)

0

In [116]:
def cast_like_gt_actor_director(df):
    return df['cast_total_facebook_likes'] >= \
           df['total_likes']

In [117]:
df2 = (movies
   .assign(total_likes=total,
           is_cast_likes_more = cast_like_gt_actor_director)
)

In [118]:
df2['is_cast_likes_more'].all()

False

In [119]:
df2 = df2.drop(columns='total_likes')

In [120]:
actor_sum = (movies
   [[c for c in movies.columns if 'actor_' in c and '_likes' in c]]
   .sum(axis='columns')
)

In [121]:
actor_sum.head(5)

0     2791.0
1    46000.0
2    11554.0
3    73000.0
4      143.0
dtype: float64

In [122]:
movies['cast_total_facebook_likes'] >= actor_sum

0       True
1       True
2       True
3       True
4       True
        ...
4911    True
4912    True
4913    True
4914    True
4915    True
Length: 4916, dtype: bool

In [123]:
movies['cast_total_facebook_likes'].ge(actor_sum)

0       True
1       True
2       True
3       True
4       True
        ...
4911    True
4912    True
4913    True
4914    True
4915    True
Length: 4916, dtype: bool

In [124]:
movies['cast_total_facebook_likes'].ge(actor_sum).all()

True

In [125]:
pct_like = (actor_sum
    .div(movies['cast_total_facebook_likes'])
)

In [126]:
pct_like.describe()

count    4883.000000
mean        0.833279
std         0.140566
min         0.300767
25%         0.735284
50%         0.869289
75%         0.954774
max         1.000000
dtype: float64

In [127]:
pd.Series(pct_like.values,
    index=movies['movie_title'].values).head()

Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    1.000000
dtype: float64

### How it works... {#how-it-works-9}

### There's more... {#theres-more-8}

In [128]:
profit_index = movies.columns.get_loc('gross') + 1
profit_index

9

In [129]:
movies.insert(loc=profit_index,
              column='profit',
              value=movies['gross'] - movies['budget'])

In [130]:
del movies['director_name']