## 03 - My Cookbook

### Data Cleaning

In [1]:
import pandas as pd
import numpy as np

### Checking and handling missing values in the data

In [2]:
df = pd.read_csv("./data/landslides.csv")
df.head()

,id,date,time,country_name,state/province,population,landslide_type,trigger,fatalities
0,34,3/2/07,Night,United States,Virginia,16000,Landslide,Rain,NaN
1,42,3/22/07,NaN,United States,Ohio,17288,Landslide,Rain,NaN
2,56,4/6/07,NaN,United States,Pennsylvania,15930,Landslide,Rain,NaN
3,59,4/14/07,NaN,Canada,Quebec,42786,Riverbank collapse,Rain,NaN
4,61,4/15/07,NaN,United States,Kentucky,6903,Landslide,Downpour,0.0

In [ ]:
df.info()

In [ ]:
df.describe()

### Handling missing values in the data

- Drop rows where you have missing values in the date column.
- Fill missing values with specific values
- Fill automatic

In [ ]:
# This code is with the Pandas library to count the number of missing (NaN or None) values in each column of a dataframe.

df.isna().sum()

In [ ]:
# The code df = df[~df['date'].isnull()] is used to filter a Pandas DataFrame (df) to remove rows where the 'date' 
# column has missing (NaN) values.

# ~df['date'].isnull(): The ~ operator is used to negate the Boolean mask. So, now it will be True for rows where 
# 'date' is not NaN and False for rows where 'date' is NaN.

df = df[~df['date'].isnull()]
df

In [ ]:
df.isna().sum()

In [ ]:
df['time'] = df['time'].fillna("Not known!")

In [ ]:
df

In [ ]:
df['time'].value_counts()

In [ ]:
df['date'].isna().sum()

In [ ]:
df['fatalities'].isna().sum()

In [ ]:
df['fatalities'].plot();

In [ ]:
mean = df['fatalities'].mean()
mean

In [ ]:
df['fatalities'].isna().sum()

### Parse dates 
- Convert our date columns to datetime
- extract month from the date
- Plot a histogram to show the number of landslides in every month

In [ ]:
df.info()

In [ ]:
# Create a new column, date_parsed, with the parsed dates

df['date_parsed'] = pd.to_datetime(df['date'], format="%m/%d/%y")

In [ ]:
df['date_parsed']

In [ ]:
df['date_parsed'].head()

In [ ]:
df.info()

In [ ]:
# Get the day of the month from the date_parsed column
month_of_landslides = df['date_parsed'].dt.month

month_of_landslides.head()

In [ ]:
month_of_landslides

In [ ]:
import seaborn as sns

# Bofore we plot we need to remove na's
month_of_landslides = month_of_landslides.dropna()

In [ ]:
# sns.distplot(): This function from Seaborn is used to create a distribution plot, which can include a histogram and 
# a kernel density estimate (KDE) by default.

# month_of_landslides: This is assumed to be a variable or a Pandas Series that contains the data you want to visualize.

# kde=False: This argument specifies that you do not want to include the kernel density estimate in the plot. If you set 
# kde=True, it would include a smoothed curve representing the estimated probability density function.

# bins=12: This argument specifies the number of bins to use for the histogram. In this case, it's set to 12, meaning the 
# data will be divided into 12 intervals, and the histogram will show the distribution of data points across these intervals.

# Plot the day of the month
sns.distplot(month_of_landslides, kde=False, bins=12);

### Correcting the data format

In [ ]:
df

In [ ]:
df['time'].value_counts()[0:10]

In [ ]:
def format_time(x):
    if ':' in x.lower():
        if int(x.split(':')[0]) >= 12 and int(x.split(':')[0]) < 18:
            x = "Afternoon"
        elif int(x.split(':')[0]) < 12:
            x = "Morning"
        elif int(x.split(':')[0]) >= 18:
            x = "Night"
    

    return x

In [ ]:
def format_time(x):
    if ':' in x.lower():
        if int(x.split(':')[0]) >= 12 and int(x.split(':')[0]) < 18:
            x = "Afternoon"
        elif int(x.split(':')[0]) < 12:
            x = "Morning"
        elif int(x.split(':')[0]) >= 18:
            x = "Night"
    elif 'evening' in x.lower():
        x = "Evening"
    elif 'morning' in x.lower() or 'dawn' in x.lower():
        x = "Morning"
    elif 'afternoon' in x.lower():
        x = "Afternoon"
    elif 'night' in x.lower():
        x = "Night"
    else:
        x = "Not Known!"
    return x

In [ ]:
df['time'] = df['time'].apply(format_time)

In [ ]:
df['time'].value_counts()

In [ ]:
df