In [13]:
# Creating a Python dictionary named person with three key-value pairs. 
# This dictionary, person, can be used to store and access information about a person in a structured way. 

person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [14]:
person

{'first': 'Corey', 'last': 'Schafer', 'email': 'CoreyMSchafer@gmail.com'}

In [15]:
# Creating a Python dictionary named people where each key maps to a list of values. 
# This structure is often used when you want to store multiple records or entries of similar data, such as a list of people's information. 

# Here's what each key-value pair represents:
# "first": ["Corey"]: This key-value pair associates the key "first" with a list containing a single value "Corey". 
# It suggests that there may be multiple people, and each person's first name is stored in this list and so on.

people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}
people

{'first': ['Corey'], 'last': ['Schafer'], 'email': ['CoreyMSchafer@gmail.com']}

In [16]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [17]:
# The code people['email'] is used to access the values associated with the key 'email' in the dictionary people.

people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame(people)

In [20]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [21]:
# The code df['email'] in Pandas is used to select and display specific columns from a DataFrame df.

df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [22]:
# In Pandas, you can also access a specific column of a DataFrame using dot notation, like df.email, which is equivalent to df['email'].


df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [23]:
# The code df[['last', 'email']] in Pandas is used to select and display specific columns from a DataFrame df. 
# It returns a new DataFrame containing only the columns 'last' and 'email' from the original DataFrame.

df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [24]:
# In Pandas, the df.columns attribute is used to retrieve the column labels or column names of a DataFrame df. 
# When you access df.columns, it returns an Index object containing the labels of all the columns in the DataFrame.

df.columns

Index(['first', 'last', 'email'], dtype='object')

In [25]:
# The code df.iloc[[0, 1], 2] in Pandas is used to select specific rows and a specific column from a DataFrame df using 
# integer-based indexing with .iloc.

# So, when you run df.iloc[[0, 1], 2], you are selecting the values at the intersection of rows with indices 0 and 1 and 
# the column with index 2. 

# This will return a Pandas Series containing these values.

df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [26]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [27]:
# df.loc[[0, 1], ['email', 'last']] selects rows with labels 0 and 1 and columns with labels 'email' and 'last', and the 
# result is a new DataFrame containing these selected values.

# We can control which col to display first and which one after that col

df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [29]:
# We cannot use index for cols in .loc
df.loc[[0, 1], [0]]

KeyError: "None of [Index([0], dtype='int64')] are in the [columns]"