In [3]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
# The code df['email'] is used to access a specific column in a DataFrame df with the column label 'email'. 
# When you execute this code, it will return a pandas Series containing all the values from the 'email' 
# column of the DataFrame.

df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df.set_index('email', inplace=True)

In [11]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [12]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [13]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [16]:
# We will get error since there is no zero[0] index in the data set now.
df.loc[0]

KeyError: 0

In [17]:
# The code df.iloc[0] is used to access the first row (or the row at index 0) of a DataFrame df. 
# When you execute this code, it will return a pandas Series representing all the values in the first row of the DataFrame.

df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [18]:
# The code df.reset_index(inplace=True) is used to reset the index of a DataFrame df back to the default integer-based index and apply the reset operation in place. 

df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe