In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
# The code df['email'] is used to access a specific column in a DataFrame df with the column label 'email'. 
# When you execute this code, it will return a pandas Series containing all the values from the 'email' 
# column of the DataFrame.

df['email']

In [ ]:
df.set_index('email', inplace=True)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.loc['CoreyMSchafer@gmail.com', 'last']

In [ ]:
# The code df.iloc[0] is used to access the first row (or the row at index 0) of a DataFrame df. 
# When you execute this code, it will return a pandas Series representing all the values in the first row of the DataFrame.

df.iloc[0]

In [ ]:
# The code df.reset_index(inplace=True) is used to reset the index of a DataFrame df back to the default integer-based index and apply the reset operation in place. 

df.reset_index(inplace=True)
df