In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
# The code filt = (df['last'] == 'Schafer') | (df['first'] == 'John') is used to create a filter filt for a DataFrame df based on a logical condition.

# df: This is the DataFrame you're working with.

# df['last'] == 'Schafer': This part of the code checks if the 'last' column of the DataFrame df contains the value 'Schafer' for each row. 
# It returns a Boolean Series where each element is True if the 'last' column contains 'Schafer' for that row, and False otherwise.

# df['first'] == 'John': This part of the code checks if the 'first' column of the DataFrame df contains the value 'John' for each row. 
# It returns another Boolean Series with the same length as the DataFrame.

# | (pipe operator): This is the logical OR operator. It combines the two Boolean Series created in the previous steps element-wise with a logical OR operation. 
# If either condition is True for a given row, the result will be True in the combined Series.

filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [9]:
filt

0     True
1    False
2     True
dtype: bool

In [10]:
# The code df.loc[~filt, 'email'] is used to select and retrieve values from the 'email' column of the DataFrame df, but only for rows that do not 
# satisfy the condition specified in the filt filter.

# df: This is the DataFrame you're working with.

# .loc[]: This is a method used to access specific rows and columns in a DataFrame.

# ~filt: The tilde (~) operator is used as a logical NOT operator. It negates the values in the filt filter. In other words, it selects rows where the 
# condition in filt is NOT True.

# 'email': This specifies the column ('email') from which you want to retrieve values.

df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object